<header class="container">
  <h1>Angular Testing</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos quo
    aliquam voluptatibus voluptates provident id maxime veritatis minima earum
    cum. Blanditiis optio quod alias et provident reiciendis numquam ipsam
    quasi?
  </p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
